<div class="ui container centered grid">
    <div class="row">
        <div class="twelve wide column segment">

            {% extends "base.html" %}

            {% block content %}
			<h2 class="ui header" align="left">Dashboard
            <div class="sub header" align="left" style="margin-bottom:5px;">Welcome,
                {% if current_user.user_type == 'doctor' %} Dr. {% endif %} {{ this_user.name }} 
            (<strong>{{ current_user.username }}</strong>)
            </div></h2>
        </div>  
            <br>
            <div class="row">
                <div id="context1">
                    <div class="ui first secondary pointing menu">
                    {% if current_user.user_type == 'doctor' %}
                        <a class="item active" data-tab="patients">Patients</a>
                    {% endif %}
                        <a class="item {% if current_user.user_type == 'patient' %} active {% endif %}" data-tab="prescriptions">Prescriptions</a>
                        <a class="item" data-tab="schedules">Schedules</a>
                        <a class="item" data-tab="intakes">Intakes</a>
                        
                        <div class="right menu">
                            <!-- {% block comment %}
                            {% if current_user.user_type == 'doctor' %}
                            <a class="link item" href={% url 'update-profile' %}>Edit My Profile</a>
                            {% endif %}
                            {% endblock %} -->
                            <a class="link item" href={% url 'logout' %}><i class="sign out icon"></i>Logout</a>
                        </div>
                    </div>
                </div>
                <div class="ui active tab segment" data-tab="patients" style="padding:16px !important;">
                    <h2>Patients</h2>
                    <p>
                    {% if patients %}
                    <table class="ui celled table">
                        <thead>
                            <tr><th>#</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Key</th>
                        </tr></thead>
                        <tbody>
                            {% for p in patients %}
                            <tr>
                                <td class="collapsing">{{ p.patient_id }}</td>
                                <td>{{ p }}</td>
                                <td>{{ p.user }}</td>
                                <td>{{ p.key }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        
                    {% else %}
                        No patients yet.
                        
                    {% endif %}
                    </p>

                    <p><button class="ui small button" onclick="location.href='{% url 'patient-register' %}'"><i class="plus icon"></i> Add a patient</button></p>
                </div>

                <div class="ui tab segment" data-tab="prescriptions" style="padding:16px !important;">
                    <h2>Prescriptions</h2>
                    
                    {% if prescriptions %}
                    {% if current_user.user_type == 'doctor' %}<p>Click a row to edit a prescription.  </p>{% endif %}
                    <table class="ui selectable structured table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Patient</th>
                            <th>Medicine</th>
                            <th>Quantity</th>
                            <th>Notes</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for pr in prescriptions %}
                            <tr class="selectable">
                                <td {% if current_user.user_type == 'doctor' %} onclick="location.href='{% url 'update-prescription' pid=pr.presc_id %}';" {% endif %}>{{ pr.presc_id }}</td>
                                <td {% if current_user.user_type == 'doctor' %} onclick="location.href='{% url 'update-prescription' pid=pr.presc_id %}';" {% endif %}>{{ pr.patient.name }}</td>
                                <td {% if current_user.user_type == 'doctor' %} onclick="location.href='{% url 'update-prescription' pid=pr.presc_id %}';" {% endif %}>
                                    {{ pr.medicine }}
                                </td>
                                <td {% if current_user.user_type == 'doctor' %} onclick="location.href='{% url 'update-prescription' pid=pr.presc_id %}';" {% endif %}>
                                    {{ pr.quantity }}
                                </td>
                                <td {% if current_user.user_type == 'doctor' %} onclick="location.href='{% url 'update-prescription' pid=pr.presc_id %}';" {% endif %}>
                                    {{ pr.notes }}
                                </td>
                                {% if current_user.user_type == 'doctor' %}<td onclick="delete_presc({{ pr.presc_id }});"><i class="trash alternate icon" title="Delete this prescription"></i></td>{% endif %}
                            </tr>   
                            {% endfor %}
                        </tbody>
                        </table>

                    {% else %}
                        <p>No prescriptions yet.</p>
                    {% endif %}
                          <p><button class="ui small button" onclick="location.href='{% url 'add-prescription' %}'"><i class="plus icon"></i>Add a prescription</button></p>
                </div>

                <div class="ui tab segment" data-tab="schedules" style="padding:16px !important;">
                    <h2>Schedules</h2>

                    {% if patients %}
                    
                    <form id="add_schedule" action="{% url 'add-schedule' %}" method="GET"> 
                        <input type="text" id="sched_patient" name="patient_id" hidden>
                        <input type="text" id="sched_day" name="day" hidden>
                        <input type="text" id="sched_time" name="time" hidden>
                    </form>
                    <div class="ui top attached tabular menu">
                        {% for p in patients %}
                        <input type="text" id="patient_{{ p.patient_id }}" value="{{ p }}" hidden>
                        <a class="{% if p == patients.0 %} active {% endif %}item" data-tab="sched-{{ p.patient_id }}">
                            {{ p }}
                        </a>
                        {% endfor %}
                        
                    </div>

                    
                    {% for p in patients %}
                        {% for k, v in schedules.items %}
                            {% if p.patient_id == v.pid %}
                            {% with scheds=v.schedules %} 
                            <div class="ui bottom attached tab segment {% if p == patients.0 %} active {% endif %}" data-tab="sched-{{ p.patient_id }}">
                                
                                <p>Click on a cell to edit schedule.</p>
                                <table class="ui definition celled table">
                                    <thead>
                                        <tr><th></th>
                                        <th>Monday</th>
                                        <th>Tuesday</th>
                                        <th>Wednesday</th>
                                        <th>Thursday</th>
                                        <th>Friday</th>
                                        <th>Saturday</th>
                                        <th>Sunday</th>
                                    </tr></thead>
                                    <tbody>
                                        
                                        <tr class="morning">
                                        <td>Morning</td>
                                        <!-- Monday -->
    
                                        <td {% if scheds.monday.morning %} class="" {% endif %} id="monday_morning">
                                            {% if scheds.monday.morning %}
                                                <div class="ui list">
                                                {% for s in scheds.monday.morning %}
                                                <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="morning" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                                </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Monday', 'morning', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Tuesday -->
                                        <td {% if scheds.tuesday.morning %} class="" {% endif %} id="tuesday_morning">
                                            {% if scheds.tuesday.morning %}
                                            <div class="ui list">
                                                {% for s in scheds.tuesday.morning %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="morning" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Tuesday', 'morning', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                            
                                        </td>
                                        <!-- Wednesday -->
                                        <td {% if scheds.wednesday.morning %} class="" {% endif %} id="wednesday_morning">
                                            {% if scheds.wednesday.morning %}
                                            <div class="ui list">
                                                {% for s in scheds.wednesday.morning %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="morning" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Wednesday', 'morning', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                            
                                        </td>
                                        <!-- Thursday -->
                                        <td {% if scheds.thursday.morning %} class="" {% endif %} id="thursday_morning">
                                            {% if scheds.thursday.morning %}
                                            <div class="ui list">
                                                {% for s in scheds.thursday.morning %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="morning" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Thursday', 'morning', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Friday -->
                                        <td{% if scheds.friday.morning %} class="" {% endif %} id="friday_morning">
                                            {% if scheds.friday.morning %}
                                            <div class="ui list">
                                                {% for s in scheds.friday.morning %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="morning" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Friday', 'morning', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Saturday -->
                                        <td{% if scheds.saturday.morning %} class="" {% endif %} id="saturday_morning">
                                            {% if scheds.saturday.morning %}
                                            <div class="ui list">
                                                {% for s in scheds.saturday.morning %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="morning" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Saturday', 'morning', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Sunday -->
                                        <td{% if scheds.sunday.morning %} class="" {% endif %} id="sunday_morning">
                                            {% if scheds.sunday.morning %}
                                            <div class="ui list">
                                                {% for s in scheds.sunday.morning %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="morning" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Sunday', 'morning', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        </tr>  
                                        <tr class="afternoon">
                                        <td>Afternoon</td>
                                        <!-- Monday -->
                                        <td {% if scheds.monday.afternoon %}class=""{% endif %} id="monday_afternoon">
                                            {% if scheds.monday.afternoon %}
                                            <div class="ui list">
                                                {% for s in scheds.monday.afternoon %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="afternoon" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Monday', 'afternoon', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Tuesday -->
                                        <td {% if scheds.tuesday.afternoon %}class=""{% endif %} id="tuesday_afternoon">
                                            {% if scheds.tuesday.afternoon %}
                                            <div class="ui list">
                                                {% for s in scheds.tuesday.afternoon %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="afternoon" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Tuesday', 'afternoon', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                            
                                        </td>
                                        <!-- Wednesday -->
                                        <td {% if scheds.wednesday.afternoon %}class=""{% endif %} id="wednesday_afternoon">
                                            {% if scheds.wednesday.afternoon %}
                                            <div class="ui list">
                                                {% for s in scheds.wednesday.afternoon %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="afternoon" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Wednesday', 'afternoon', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                            
                                        </td>
                                        <!-- Thursday -->
                                        <td {% if scheds.thursday.afternoon %}class=""{% endif %} id="thursday_afternoon">
                                            {% if scheds.thursday.afternoon %}
                                            <div class="ui list">
                                                {% for s in scheds.thursday.afternoon %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="afternoon" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Thursday', 'afternoon', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Friday -->
                                        <td {% if scheds.friday.afternoon %}class=""{% endif %} id="friday_afternoon">
                                            {% if scheds.friday.afternoon %}
                                            <div class="ui list">
                                                {% for s in scheds.friday.afternoon %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="afternoon" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Friday', 'afternoon', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Saturday -->
                                        <td {% if scheds.saturday.afternoon %}class=""{% endif %} id="saturday_afternoon">
                                            {% if scheds.saturday.afternoon %}
                                            <div class="ui list">
                                                {% for s in scheds.saturday.afternoon %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="afternoon" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Saturday', 'afternoon', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Sunday -->
                                        <td {% if scheds.sunday.afternoon %}class=""{% endif %} id="sunday_afternoon">
                                            {% if scheds.sunday.afternoon %}
                                            <div class="ui list">
                                                {% for s in scheds.sunday.afternoon %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="afternoon" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Sunday', 'afternoon', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        </tr>
                                        <tr class="evening">
                                        <td>Evening</td>
                                        <!-- Monday -->
                                        <td {% if scheds.monday.evening %}class=""{% endif %} id="monday_evening">
                                            {% if scheds.monday.evening %}
                                            <div class="ui list">
                                                {% for s in scheds.monday.evening %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="evening" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Monday', 'evening', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Tuesday -->
                                        <td {% if scheds.tuesday.evening %}class=""{% endif %} id="tuesday_evening">
                                            {% if scheds.tuesday.evening %}
                                            <div class="ui list">
                                                {% for s in scheds.tuesday.evening %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="evening" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Tuesday', 'evening', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                            
                                        </td>
                                        <!-- Wednesday -->
                                        <td {% if scheds.wednesday.evening %}class=""{% endif %} id="wednesday_evening">
                                            {% if scheds.wednesday.evening %}
                                            <div class="ui list">
                                                {% for s in scheds.wednesday.evening %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="evening" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Wednesday', 'evening', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                            
                                        </td>
                                        <!-- Thursday -->
                                        <td {% if scheds.thursday.evening %}class=""{% endif %} id="thursday_evening">
                                            {% if scheds.thursday.evening %}
                                            <div class="ui list">
                                                {% for s in scheds.thursday.evening %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="evening" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Thursday', 'evening', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Friday -->
                                        <td {% if scheds.friday.evening %}class=""{% endif %} id="friday_evening">
                                            {% if scheds.friday.evening %}
                                            <div class="ui list">
                                                {% for s in scheds.friday.evening %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="evening" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Friday', 'evening', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Saturday -->
                                        <td {% if scheds.saturday.evening %}class=""{% endif %} id="saturday_evening">
                                            {% if scheds.saturday.evening %}
                                            <div class="ui list">
                                                {% for s in scheds.saturday.evening %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="evening" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            
                                            <a href="#" onclick="add_schedule('Saturday', 'evening', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        <!-- Sunday -->
                                        <td {% if scheds.sunday.evening %}class=""{% endif %} id="sunday_evening">
                                            {% if scheds.sunday.evening %}
                                            <div class="ui list">
                                                {% for s in scheds.sunday.evening %}
                                                    <div class="item"><a href="{% url 'view-schedule' sched_id=s.sched_id %}">{{ s.time }} - {{ s.medicine }} x{{ s.quantity }}</a></div>
                                                    <input id="sched-{{ s.sched_id }}" attr-pid="{{ p.patient_id }}" attr-tod="evening" attr-time="{{ s.time }}" attr-day="{{ s.day }}" attr-med="{{ s.medicine }}" attr-qty="{{ s.quantity }}" hidden>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            <a href="#" onclick="add_schedule('Sunday', 'evening', '{{ p.patient_id }}');">Add</a>
                                            {% endif %}
                                        </td>
                                        </tr>
                                    </tbody>
                                </table>
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                        </div>
                        
                    {% endfor %}

                    {% else %}
                    <p>No patients yet.</p>
                    <p><button class="ui small button" onclick="location.href='{% url 'patient-register' %}'"><i class="plus icon"></i>Add a patient</button></p>
                    {% endif %}
                    
                </div>

            
            
            <div class="ui tab segment" data-tab="intakes" style="padding:16px !important;">
                <h2>Intakes</h2>

                {% if patients %}
                
                    <div class="ui top attached tabular menu">
                        {% for p in patients %}
                        <input type="text" id="patient_{{ p.patient_id }}" value="{{ p }}" hidden>
                        <a class="{% if p == patients.0 %} active {% endif %}item" data-tab="intake-{{ p.patient_id }}">
                            {{ p }}
                        </a>
                        {% endfor %}
                        
                    </div>

                    
                    {% for p in patients %}
                        
                        <div class="ui bottom attached tab segment {% if p == patients.0 %} active {% endif %}" data-tab="intake-{{ p.patient_id }}">
                            {% if intakes %}
                            <p>Arranged from most recent intake to least.</p>
                            <table class="ui structured table">
                                <thead>
                                <tr>
                                    <th>Schedule</th>
                                    <th>Time taken</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for i in intakes %}
                                        {% if i.patient == p %}
                                        <tr>
                                            <td>{{ i.sched.get_str }}</td>
                                            <td>{{ i.time_taken }}</td>
            
                                        </tr>   
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                                </table>
        
                            {% else %}
                                <p>No recorded intakes yet.</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        
        </div>    

    </div>
</div>

{% comment %} 
<div class="ui custom popup top center">
    <button class="ui tiny blue button" onclick="location.href='{% url 'patient-register' %}'"><i class="plus icon"></i>Add a new schedule</button>
</div> 
{% endcomment %}

<div class="ui mini modal">
    <div class="header">Delete Prescription</div>
    <div class="content">
        <p>Are you sure you want to delete this prescription?</p>
    </div>
    <div class="actions">
        <div class="ui negative button">
            <i class="remove icon"></i> No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>Yes
        </div>
    </div>
</div>


<script type="text/javascript">
	// for dashboard main menu
    $('.first .menu .item').on('click', function() {
		$('.first .menu .item').removeClass('active');
		$(this).addClass('active');
	});    

    // for double tabbed menus
    $('#context1 .menu .item').tab({
        context: $('#context1')
    });

    // single element functionalities
	$('.ui.dropdown').dropdown();
    $('.menu .item').tab();

    // show confirmation modal before deleting a prescription
    function delete_presc(pid) {
        $('.mini.modal').modal({
            closable  : true,
            onDeny    : function(){
                return true;
            },
            onApprove : function() {
                location.href="{% url 'delete-prescription'%}?pid=" + pid;
            }
        })
        .modal('show')
        ;
    }

    function add_schedule(day, time, patient_id) {
        $('#sched_day').val(day);
        console.log($('#sched_day').val());
        $('#sched_time').val(time);
        console.log($('#sched_time').val());
        $('#sched_patient').val(patient_id);
        console.log($('#sched_patient').val());
        $('form#add_schedule').submit();
    }

    $('.selectable').on('select', function(){
        window.alert("Selected!");
    });
    
    $('.selectable').popup({
        popup : $('.custom.popup'),
        on    : 'click'
    });

	</script>
{% endblock %}